#hero{
    height: 100%;
    padding-top: 40vh;
    overflow:hidden;
    align-items: center;
    text-align: left;
    background: url('../images/Palmwood_house.jpg') center top;
    border-radius: 25px;
}
